p {
    color: #fff;
    font-size: 34px;
    line-height: 44px;
  }

  .item-headline {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
  }
  .item-headline:hover {
    color: #ffffff;
    transition: color 0.3s;
  }

  ul.bullet-list-v1 li {
    color: white;
  }
  ul.bullet-list-v2 li {
    color: white;
  }
  ul.bullet-list-v3 li {
    color: white;
  }
  ul.bullet-list-v1 li:nth-last-child(-n+3) {
    text-decoration: line-through;
  }
  ul.bullet-list-v2 li:nth-last-child(-n+1) {
    text-decoration: line-through;
  }

  .productbox {
    text-align: center;
    overflow: hidden;
    }

  .product-text {
    font-size: 145px; 
    background: linear-gradient(90deg, rgba(149, 143, 143, 0.5), rgba(255, 255, 255, 1), rgba(110, 103, 103, 0.5));
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientAnimation 3s linear infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
        background-position: 100%; 
    }
    100% {
        background-position: -100%; 
    }
  }
  

  /* Add this CSS for initial state */
.infotext {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

/* Add this CSS to apply styles when the element is in view */
.infotext.show {
  opacity: 1;
  transform: translateY(0);
}


//for find you

@keyframes typing {
  from {
    width: 0;
  }
}

.find span {
  display: inline-block;
  overflow: hidden;
  animation: typing 2s steps(15, end);
}


//find you

.bottomtxt {
  
  color: #ffffff;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

.bottomtxt span {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  background-color: yellow;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
